# Python
__pycache__/
*.py[cod]

# Environment
.env

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# ChromaDB
rag_pipeline/vector_db/

# Cache
.cache/
